body{
background-color: #ffd5fd;
}
        p{
        font-size: 21px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .header{
          display: flex;
          justify-content: center;
        }
        .link{
          display: flex;
         justify-content: center;
        }
        .text1{

        }

